<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="EBookSettingConfigSection" type="EpubComicCreator.Config.EBookSettingConfigSection, EpubComicCreator" />
	</configSections>
	
	<appSettings>
		<add key="LastInputPath" value="" />
	</appSettings>

	<EBookSettingConfigSection>
		<EBookSetting
			UsePNG="true"
			GrayMode="true"
			MarginCrop="false"
			Split="true"
			OutSplit="true"
			Rotate="false"
			MangeMode="false"
			DisProcess="false"
			DeviceSelectedIndex="2"
			TargetHeight="1872"
			TargetWidth="1404"
			DevicesList="BooxPoke5,BooxPoke5s,BooxLeafSeris,BooxNovaNote,Other"
			Profiles='{"BooxPoke5":[1072,1448],"BooxPoke5s":[758,1024],"BooxLeafSeris":[1264,1680],"BooxNovaNote":[1404,1872],"Other":[600,800]}' />
	</EBookSettingConfigSection>
</configuration>